{"wifi_aps":[{"ssid":"MY-WIFI","password":"WIFI-PASSPHRASE"},{"ssid":"OTHER_WIFI","password":"OTHER_WIFI_PASS"}],"ws_token":"94690fbaeb0e86dd98043733e4a4415d02952923","core_domain":"core.inamata.io","secure_url":true,"name":"My sensor"}